NEON_HOST=
NEON_PORT=5432
NEON_DATABASE=ticketing
NEON_USER=
NEON_PASSWORD=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=TICKETING_DB
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

RESELLER_LOCAL_FOLDER=/opt/airflow/sample_data/reseller_exports
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=false
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
